# Infrastructure Credentials
EQUINIX_METAL_API_TOKEN=your_token_here
PULUMI_ACCESS_TOKEN=your_pulumi_token_here

# Vault Master Configuration
VAULT_ADDR=https://127.0.0.1:8200
VAULT_TOKEN=root_token_placeholder

# Docker Storage Configurations
DOCKER_HUB_USER=12345678910dmac
